repos:
  - repo: builtin
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: fix-byte-order-marker
      - id: detect-private-key
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        name: golangci-lint
        language_version: go1.26
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: node
        require_serial: true
        entry: npx prettier --write --ignore-unknown
        exclude: >-
          ^plugin/.*.$
