name: Release

on:
  release:
    types: [created]

permissions:
  contents: write
  id-token: write
  packages: write
  attestations: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go
        uses: bitcart/bitcart-actions/actions/setup-go@master
        with:
          enable-cache: false

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - uses: sigstore/cosign-installer@v4.0.0

      - uses: anchore/sbom-action/download-syft@v0

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/attest-build-provenance@v3
        with:
          subject-checksums: ./dist/checksums.txt

      - uses: actions/attest-build-provenance@v3
        with:
          subject-checksums: ./dist/digests.txt
